*
!CMakeLists.txt
!LICENSE
!README.md
!BUILD.*
!*/
!CMakeLists.txt
!instructions.txt
!*.cpp
!*.hpp
!*.c
!*.h
!*.vert
!*.frag
!*.comp
!CMakeLists.txt
!*.model
!*.cubemap
!*.ttf
!.gitignore
!install_dependencies.*
!*.png
CMakeFiles