*
!CMakeLists.txt
!LICENSE
!README.md
!BUILD.*
!*/
!CMakeLists.txt
!INSTRUCTIONS.txt
!*.cpp
!*.hpp
!*.vert
!*.frag
!*.comp
!CMakeLists.txt
!*.model
!*.cubemap
!*.ttf
!.gitignore
!install_dependencies.*
CMakeFiles